@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
*{font-family: 'oxygen',;}

body {background-color: #89a2e2a6; background-image: linear-gradient(to left, #2763bd, transparent); color: white;}


h1{width:1100px; text-align: center;}


.day-box{width:1100px; float:right;margin: 10px;}

.day-box.COMPLETED{border: 3px solid #00000021;}

.day-box.PREP{border: 3px solid #00000021;}


.day-box.CURRENT{color: white; font-size: large; font-weight: bold; border: 5px solid transparent; padding: 5px; border-image: url(seashell.png) 30% round;}

.reading{}
.reading-box{}


img.person_image{height:100px; width:100px; display: block; margin: 0px auto; border-radius: 50%;}


.header{width:200px; height:100%; float:left;}


.header{background-image: url(whitesand.jpeg);}

.header{position: fixed;}


table, tr, td{border: 3px solid #00000021; border-collapse: collapse; margin: 300px; margin-top:0px;}


svg{margin:300px;}

body > div.header > div.nav > a:nth-child(1){ font-size: 20px; clear: left;}
body > div.header > div.nav > a:nth-child(2){ font-size:20; clear: left;}
body > div.header > div.nav > a:nth-child(3){ font-size: 20; clear: left;}
